html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020e26;
  font-family: "Roboto";
  overflow-y: hidden;
}

.input-group {
  position: relative;
}
input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
label {
  position: absolute;
  left: 16px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus {
  outline: none;
  border: 1.5px solid #1a73e8;
}
input:focus ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #020e26;
  padding: 0 0.2em;
  color: #2196f3;
}
